/* MAIN */
main {
    display: grid;
    margin-top: 10vw;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 300vh;
    gap: 1rem;
}
.container-img-perfil {
    border: 1px solid rgb(0, 204, 255);
}
.elem-grid:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
    border: 1px solid darkcyan;
    grid-row-start: 1;
    grid-row-end: 12;
}

.container-img-perfil:first-of-type {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}
.container-img-perfil:nth-of-type(2) {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 3;
}
.container-img-perfil:nth-of-type(3) {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}
.container-img-perfil:nth-of-type(4) {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
}
.container-img-perfil:nth-of-type(5) {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
}
.container-img-perfil:nth-of-type(6) {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;
}
.container-img-perfil:nth-of-type(7) {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 8;
}
.container-img-perfil:nth-of-type(8) {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 8;
}
.container-img-perfil:nth-of-type(9) {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 10;
}
.container-img-perfil:nth-of-type(10) {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 10;
}
.container-img-perfil:nth-of-type(11) {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 11;
    grid-row-end: 12;
}
.container-img-perfil:nth-of-type(12) {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 11;
    grid-row-end: 12;
}
.container-img-perfil h2 {
    text-align: center;
    font-size: 2.2rem;
}
.container-img-perfil p {
    text-align: center;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}
.img-perfil {
    max-width: 10vw;
    max-height: 10vw;
    margin: 0 0 1vw 1vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid red;
}

.container-img-perfil .contac {
    color: black;
}
.contac .fa-solid {
    color: var(--bk-header);
    font-size: 2rem;
    margin-right: 1rem;
}
.elem-grid:last-of-type {
    grid-column-start: 11;
    grid-column-end: 13;
    border: 1px solid darkcyan;
    grid-row-start: 1;
    grid-row-end: 12;
    
}
.container-img-perfil {
    transition: all 0.3s linear;
    
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.cart-back, .cart-front {
    backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
}

.cart-front {
    display: flex;
    flex-direction: row;
    z-index: 2;
    transition: all 0.3s linear;
}
.cart-back {
    transition: all 0.3s linear;
    transform: rotateY(180deg);
    /* display: none; */
}

.container-img-perfil:hover .cart-front {
    /* display: none; */
    transform: rotateY(180deg);
}
.container-img-perfil:hover .cart-back {
    display: block;
    transform: rotateY(360deg);
}