main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
}

main h1 {
    text-align: center;
    font-size: 3rem;
    grid-column-start: 3;
    grid-column-end: 11;
    padding-top: 5rem;
}

section h2 {
    font-size: 2rem;
    text-align: center;
}

section p {
    font-size: 1.5rem;
}

main section:first-of-type {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

main section:nth-of-type(2) {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
}

main section:nth-of-type(3) {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
}



main section:nth-of-type(4) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

main section:nth-of-type(5) {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
}

main section:nth-of-type(6) {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
}

