:root {
    --bk-header: rgb(103, 3, 0);
    --bk-header-hover: #FFFF99;
}

/* Header - Gallery */
html {
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.cont {
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding: 80px 70px;
}

.cont__inner {
    position: relative;
    height: 100%;
}

.cont__inner:hover .el__bg:after {
    opacity: 1;
}

.el {
    position: absolute;
    left: 0;
    top: 0;
    width: 19.2%;
    height: 100%;
    transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
    will-change: transform, width, opacity;
}

.el:not(.s--active) {
    cursor: pointer;
}

.el__overflow {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.el__inner {
    overflow: hidden;
    position: relative;
    height: 100%;
    transition: transform 1s;
}

.cont.s--inactive .el__inner {
    transform: translate3d(0, 100%, 0);
}

.el__bg {
    position: relative;
    width: calc(100vw - 140px);
    height: 100%;
    transition: transform 0.6s 0.7s;
    will-change: transform;
}

.el__bg:before {
    content: '';
    position: absolute;
    left: 0;
    top: -5%;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: center center;
    transition: transform 1s;
    transform: translate3d(0, 0, 0) scale(1);
}

.cont.s--inactive .el__bg:before {
    transform: translate3d(0, -100%, 0) scale(1.2);
}

.el.s--active .el__bg:before {
    transition: transform 0.8s;
}

.el__bg:after {
    content: '';
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s;
}

.cont.s--el-active .el__bg:after {
    transition: opacity 0.5s 1.4s;
    opacity: 1 !important;
}

.el__preview-cont {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s 1.2s;
}

.cont.s--inactive .el__preview-cont {
    opacity: 0;
    transform: translateY(10px);
}

.cont.s--el-active .el__preview-cont {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
}

.el__heading {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}

.el__content {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s;
}

.el.s--active .el__content {
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s 1.4s;
}

.el__text {
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
}

.el__close-btn {
    z-index: -1;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
    opacity: 0;
    pointer-events: none;
    transition: all 0s 0.45s;
    cursor: pointer;
}

.el.s--active .el__close-btn {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transition: all 0s 1.4s;
}

.el__close-btn:before,
.el__close-btn:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 8px;
    margin-top: -4px;
    background: #fff;
    opacity: 0;
    transition: opacity 0s;
}

.el.s--active .el__close-btn:before,
.el.s--active .el__close-btn:after {
    opacity: 1;
}

.el__close-btn:before {
    transform: rotate(45deg) translateX(100%);
}

.el.s--active .el__close-btn:before {
    transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    transform: rotate(45deg) translateX(0);
}

.el__close-btn:after {
    transform: rotate(-45deg) translateX(100%);
}

.el.s--active .el__close-btn:after {
    transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    transform: rotate(-45deg) translateX(0);
}

.el:hover .el__bg:before {
    transform: translate3d(0, 0, 0) scale(1.1);
}

.cont.s--el-active .el:nth-child(1):not(.s--active) {
    transform: scale(0.5) translate3d(0%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}

.el:nth-child(1) .el__inner {
    transition-delay: 0s;
}

.el:nth-child(1) .el__bg {
    transform: translate3d(0%, 0, 0);
}


.el:nth-child(1) .el__bg:before {
    transition-delay: 0s;
    background-image: url('./images/instalaciones/Instituto1.jpg');
}

.el:nth-child(2) {
    transform: translate3d(105.2083333333%, 0, 0);
    transform-origin: 155.2083333333% 50%;
}

.cont.s--el-active .el:nth-child(2):not(.s--active) {
    transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}

.el:nth-child(2) .el__inner {
    transition-delay: 0.1s;
}

.el:nth-child(2) .el__bg {
    transform: translate3d(-19.2%, 0, 0);
}

.el:nth-child(2) .el__bg::before {
    transition-delay: 0.1s;
    background-image: url('./images/instalaciones/Instituto-aerea2.jpg');
}

.el:nth-child(3) {
    transform: translate3d(210.4166666667%, 0, 0);
    transform-origin: 260.4166666667% 50%;
}

.cont.s--el-active .el:nth-child(3):not(.s--active) {
    transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}

.el:nth-child(3) .el__inner {
    transition-delay: 0.2s;
}

.el:nth-child(3) .el__bg {
    transform: translate3d(-38.4%, 0, 0);
}

.el:nth-child(3) .el__bg::before {
    transition-delay: 0.2s;
    background-image: url('./images/instalaciones/Instituto3.jpg');
}

.el:nth-child(4) {
    transform: translate3d(315.625%, 0, 0);
    transform-origin: 365.625% 50%;
}

.cont.s--el-active .el:nth-child(4):not(.s--active) {
    transform: scale(0.5) translate3d(315.625%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}

.el:nth-child(4) .el__inner {
    transition-delay: 0.3s;
}

.el:nth-child(4) .el__bg {
    transform: translate3d(-57.6%, 0, 0);
}

.el:nth-child(4) .el__bg:before {
    transition-delay: 0.3s;
    background-image: url('./images/instalaciones/Instituto-aerea1.jpg');
}

.el:nth-child(5) {
    transform: translate3d(420.8333333333%, 0, 0);
    transform-origin: 470.8333333333% 50%;
}

.cont.s--el-active .el:nth-child(5):not(.s--active) {
    transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}

.el:nth-child(5) .el__inner {
    transition-delay: 0.4s;
}

.el:nth-child(5) .el__bg {
    transform: translate3d(-76.8%, 0, 0);
}

.el:nth-child(5) .el__bg:before {
    transition-delay: 0.4s;
    background-image: url('./images/instalaciones/Instituto4.jpg');
}

.el:hover .el__bg:after {
    opacity: 0;
}

.el.s--active {
    z-index: 1;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
}

.el.s--active .el__bg {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s;
}

.el.s--active .el__bg:before {
    transition-delay: 0.6s;
    transform: scale(1.1);
}

.icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;
}

.icon-link img {
    width: 100%;
    vertical-align: top;
}

.icon-link--twitter {
    left: auto;
    right: 5px;
}

/* MAIN */

main {
    height: 110vw;
}

main h1 {
    width: auto;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10vw;
    color: var(--bk-header);
    box-shadow: 0 0 20px var(--bk-header);
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 2rem;
    row-gap: 10rem;
    height: 100%;
}

.container .sct-img {
    display: inline;
    background: url("./images/instalaciones/Instituto2.jpg") center;
    background-size: cover;
    transition: all 2s;
}

section .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    height: 100%;
    border: 1px solid #fafafa;
    box-shadow: 0 0 25px #222;
}

section img {
    max-width: 25vw;
    transition: all 2s;
}

section h2 {
    font-size: 2rem;
    text-align: center;
}

.sct-img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px black;
}

section p {
    font-size: 1.5rem;
    text-align: center;
}
.ul-obj {
    font-size: 1.5rem;
}
.container section:first-of-type {
    grid-column-start: 3;
    grid-column-end: 7;
}

.container section:nth-of-type(2) {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
}

.container section:nth-of-type(3) {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.container section:nth-of-type(4) {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
}

.container section:nth-of-type(5) {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}

.container section:nth-of-type(6) {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
}

.container section:nth-of-type(7) {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
}

.container section:nth-of-type(8) {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 5;
}

.container section:nth-of-type(9) {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}

/* Media query for screen of 800px (tablet) */

@media screen and (max-width: 830px) {

    main {
        height: 110vh;
    }

    .container section:first-of-type {
        grid-column-start: 2;
        grid-column-end: 7;
    }

    .container section:nth-of-type(2) {
        grid-column-start: 7;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .container section:nth-of-type(3) {
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .container section:nth-of-type(4) {
        grid-column-start: 7;
        grid-column-end: 12;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .container section:nth-of-type(5) {
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .container section:nth-of-type(6) {
        grid-column-start: 7;
        grid-column-end: 12;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .container section:nth-of-type(7) {
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .container section:nth-of-type(8) {
        grid-column-start: 7;
        grid-column-end: 12;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .container section:nth-of-type(9) {
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}