
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 5rem;
    column-gap: 5rem;
    height: 200vh;
    margin-bottom: 10vw;
}

.img-main img {
    max-width: 32vw;
}

section .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    height: 100%;
    border: 1px solid #fafafa;
    box-shadow: 0 0 25px #222;
}

.wrap img {
    max-width: 25vw;
    transition: all 2s;
}
main .sct-img {
    display: inline;
    background: url("./../images/instalaciones/Instituto2.jpg") center;
    background-size: cover;
    transition: all 2s;
}
h1 {
    font-size: 3rem;
    text-align: center;
    padding-top: 5rem;
}

h2 {
    font-size: 2.2rem;
    text-align: center;
}

main section p {
    font-size: 2rem;
}

main h1 {
    grid-column-start: 3;
    grid-column-end: 11;
}

main .img-main:first-of-type {
    grid-column-start: 3;
    grid-column-end: 7;
}

main section:first-of-type {
    grid-column-start: 3;
    grid-column-end: 7;
}

main section:nth-of-type(2) {
    grid-column-start: 7;
    grid-column-end: 11;
}

main section:nth-of-type(3) {
    grid-column-start: 3;
    grid-column-end: 7;
}

main section:nth-of-type(4) {
    grid-column-start: 7;
    grid-column-end: 11;
}

main section:nth-of-type(5) {
    grid-column-start: 3;
    grid-column-end: 7;
}

main section:nth-of-type(6) {
    grid-column-start: 7;
    grid-column-end: 11;
}
main section:nth-of-type(7) {
    grid-column-start: 3;
    grid-column-end: 7;
}
main section:nth-of-type(8) {
    grid-column-start: 7;
    grid-column-end: 11;
}

@media screen and (max-width: 850px) {

    main {
        margin-bottom: 15vw;
    }
    section h2 {
        font-size: 1.8rem;
    }

    section p {
        font-size: 1.4rem;
    }

    main section:first-of-type {
        grid-column-start: 2;
        grid-column-end: 7;
    }

    main section:nth-of-type(2) {
        grid-column-start: 7;
        grid-column-end: 12;
    }

    main section:nth-of-type(3) {
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    main section:nth-of-type(4) {
        grid-column-start: 7;
        grid-column-end: 12;
    }

    main section:nth-of-type(5) {
        grid-column-start: 2;
        grid-column-end: 7;
    }

    main section:nth-of-type(6) {
        grid-column-start: 7;
        grid-column-end: 12;
    }
    main section:nth-of-type(7) {
        grid-column-start: 2;
        grid-column-end: 7;
    }
    main section:nth-of-type(8) {
        grid-column-start: 7;
        grid-column-end: 11;
    }
}

@media screen and (max-width: 550px) {

    main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 1fr);
        height: 160vh;
        gap: 0;
    }

    picture img {
        max-width: 100vw;

    }
    section {
        padding: 0 2rem;
    }
    section h2 {
        font-size: 1.8rem;
    }

    section p {
        font-size: 1.2rem;
    }
    main h1 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    main .img-main:first-of-type {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    main section:first-of-type {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    main section:nth-of-type(2) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    main section:nth-of-type(3) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    main section:nth-of-type(4) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    main section:nth-of-type(5) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    main section:nth-of-type(6) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    main section:nth-of-type(7) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

}